[Unit]
Description=Running nutrition-facts-service
After=network-online.target
Requires=network-online.target

[Service]
User=root
Type=simple
ExecStart=/deployment/nutrition-facts-service/server.sh
RestartSec=10
Restart=always

[Install]
WantedBy=default.target
